{% extends "base.html" %}

{% load static %}

{% block page_content %}


<div class="container card border-primary mb-3" align="center" style="width: 100rem;">

    <div class="col-md-12">
        <div class="brand_image">
            <img class="brand_img" src="{% static specialist.image %}" alt="фото сотрудника">
            <div>
                <h1>{{ specialist.surname }} {{ specialist.name }} {{ specialist.patronymic }}</h1>
                <h5>Профессия:</h5>
                <p>{{ specialist.profession }}</p>
                <br>
                <h5>Квалификация:</h5>
                <p>{{ specialist.qualification }}</p>
                <br>
                <h5>Опыт работы:</h5>
                <p>{{ specialist.experience }}</p>
            </div>
            <a href="{% url 'our_specialists' %}" class="btn btn-primary">
                Назад
            </a>
        </div>
    </div>
    <div class="col-md-4">

    </div>

</div>

{% endblock %}