{% extends "base.html" %}

{% block page_content %}

<div class="container card border-primary mb-3" align="center" style="width: 100rem;">
    <div class="container">
        <h3>Информация по ценам на услуги:</h3>
    </div>

    <div class="container card border-primary mb-3" align="center" style="width: 100rem;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование услуги</th>
                <th scope="col">Цена [BYN]</th>
            </tr>
            </thead>
            {% for service in services %}
            <tbody>
            <tr>
                <th scope="row">{{ service.id }}</th>
                <td><a href="{% url 'detailed_services' service.id %}">
                    {{ service.service }}
                </a>&nbsp;
                </td>
                <td>от {{ service.price }}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <a href="{% url 'contacts' %}" class="btn-primary">
            <h5>Более подробно по стоимости уточните у специалиста</h5>
        </a>
    </div>
</div>

{% endblock %}